.background {
  background-image: url("/assets/profile/background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

ion-avatar {
  margin: auto;
  width: 200px;
  height: 200px;
}

.picker {
  display: none;
}

.grid {
  height: 100%;
}

.row {
  height: 40%;
}