.background {
  background-image: url("/assets/img/profile-background.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

ion-avatar {
  margin: auto;
  width: 40%;
  height: 60%
}

// .picker {
//   display: none;
// }
