<ion-header>
  <ion-toolbar color="primary">
    <!-- <ion-back-button icon="ios-arrow-back" [defaultHref]="home"></ion-back-button> -->
    <ion-title>Q&A</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item *ngFor="let item of allDiscus">
            <ion-label>
              <h1><a href="">{{ item.subject }}</a></h1>
              <h3>{{ item.userfullname }} <span class="date">{{ item.created * 1000 | date: 'EEE MMM yy' }}</span></h3>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
</ion-content>