<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Q&A</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-list>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item *ngFor="let item of allDiscus" [routerLink]="[item.id]">
            <ion-label>
              <h2>{{ item.subject }}</h2>
              <h3>{{ item.username }} <span class="date">{{ item.date | date: 'd/M/yy, h:mm a' }}</span></h3>
            </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" [routerLink]="['new']"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>