.banner {
    margin-top: 200px;
    margin-bottom: 100px;
}

ion-input {
    color: var(--ion-color-light); 
    text-align: center; 
    background-color: var(--ion-color-primary);
    border-width:0px;
    border-radius: 15px;
}

ion-button {
    margin-top: 100px;
}