<ion-content>
  <div class="banner" align="center">
    <img src="assets/login/banner.png" />
  </div>
  <form [formGroup]="loginForm" (keyup.enter)="onSubmitLoginForm()">
    <ion-grid>
      <ion-row>
        <ion-col offset="2" size="8">
          <ion-item lines="none">
            <ion-label position="fixed" color="danger">USERNAME</ion-label>
            <ion-input type="text" formControlName="username"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="2" size="8">
          <ion-item lines="none">
            <ion-label position="fixed" color="danger">PASSWORD</ion-label>
            <ion-input type="password" formControlName="password"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-text color="danger">
            {{ errorMessage }}
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col offset="3" size="6">
          <ion-button class="login-button" expand="full" shape="round" color="danger" 
            [disabled]="!loginForm.valid"
            (click)="onSubmitLoginForm()">
            Log in
          </ion-button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col text-center offset="2" size="8">
          <ion-text>DON’T HAVE AN ACCOUNT YET? SIGN UP</ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>