.login-input-text{
    color: white; 
    text-align:center; 
    background-color: #0d708d; 
    border-width:0px;
    border-radius: 15px;
    font-size:18px; 
    font-family:WorkSans-Medium, "Work Sans"; 
    font-weight:500;
}
.login-button{
    height:50px; 
    font-size:18px; 
    font-family:WorkSans-Medium, "Work Sans"; 
    font-weight:bold;
}