<ion-header>
  <ion-toolbar text-center>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-img padding src="assets/calculators/banner.png"></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row margin-bottom>
      <ion-col class="title">
        <ion-text text-center padding color="light">
          <h1>เครื่องมือช่วยคำนวณการทำเกษตรสมัยใหม่</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row margin-top *ngFor="let calculator of calculators">
      <ion-col size="10" offset="1">
        <ion-img [src]="calculator.img" [routerLink]="calculator.url"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>