<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calculators</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" class="banner">
      <img src="assets/img/icon-calculator-banner.png"/>
  </div>
  <div class="title">
    <ion-text color="light">
        <h1 class="ion-text-center ion-padding">เครื่องมือช่วยคำนวณการทำเกษตรสมัยใหม่</h1>
    </ion-text>
  </div>
  <div align="center" *ngFor="let calculator of calculators">
    <img src="{{ calculator.img }}" [routerLink]="calculator.url"/>
  </div>
</ion-content>