<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Knowledge Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col margin>
        <ion-img src="assets/img/icon-course-banner.png"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-avatar>
            <ion-img [src]="user.imgUrl" routerLink="/auth/profile"></ion-img>
        </ion-avatar>
        <ion-text class="ion-text-center"><h3>{{ user.firstName }} {{user.lastName }}</h3></ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="2" margin>
        <ion-img [src]="knowYourself.img" [routerLink]="[knowYourself.id, 'topics']"></ion-img>
      </ion-col>
      <ion-col size="4" margin>
        <ion-img [src]="empathy.img" [routerLink]="[empathy.id, 'topics']"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4" offset="2" margin>
        <ion-img [src]="modernFarm.img" [routerLink]="[modernFarm.id, 'topics']"></ion-img>
      </ion-col>
      <ion-col size="4" margin>
        <ion-img [src]="specialization.img" [routerLink]="[specialization.id, 'topics']"></ion-img>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>