<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref=""></ion-back-button>
    </ion-buttons>
    <ion-title>Knowledge Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="banner" align="center">
    <img src="assets/img/icon-course-banner.png" />
  </div>
  <div class="avatar" align="center">
    <img src="assets/img/avatar.png" routerLink="/static/2"/>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let course of courses">
        <div align="center">
            <img [src]="course.img" [routerLink]="[course.id, 'topics']"/>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>