<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Knowledge Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <img src="assets/img/icon-course-banner.png" />
  </div>
  <div>
    <img src="assets/img/icon-course-avatar.png" />
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
          <img src="assets/img/icon-course-know-yourself.png" />
      </ion-col>
      <ion-col>
          <img src="assets/img/icon-course-specialization.png" />
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <img src="assets/img/icon-course-modern-farm.png" />
      </ion-col>
      <ion-col>
          <img src="assets/img/icon-course-specialization.png" />
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>