<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Calculator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center" class="banner">
      <img src="assets/img/icon-calculator-banner.png"/>
  </div>
  <div class="title">
    <ion-text color="light">
        <h1 class="ion-text-center ion-padding">เครื่องมือช่วยคำนวณการทำเกษตรสมัยใหม่</h1>
    </ion-text>
  </div>
  <div align="center">
    <img src="assets/img/icon-calculator-farm-modernfarm.png" [routerLink]="['/farm-vs-modern-farm']"/>
  </div>
  <div align="center">
    <img src="assets/img/icon-calculator-human-machine.png"/>
  </div>
  <div align="center">
    <img src="assets/img/icon-calculator-sugarcane.png"/>
  </div>
  
</ion-content>