<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isLoading">{{ currentTopic.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-list *ngIf="!isLoading">
    <div align="center" *ngFor="let page of pages" [routerLink]="[page.id, 'pages']">
      <ion-item lines="none" button="true" class="ion-padding">
        <ion-label class="ion-padding" class="ion-text-center">
          <h1>{{ page.name }}</h1>
        </ion-label>
      </ion-item>
    </div>
    <img src="assets/img/icon-quiz.png"/>
  </ion-list>
</ion-content>