<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="prevUrl"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isLoading">{{ topic.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div> -->
  <ion-text text-center *ngIf="!isLoading && errorMessage">
    <h1>{{ errorMessage }}</h1>
  </ion-text>
  <ion-list *ngIf="!errorMessage && pages">
    <ion-item padding lines="none" button="true" *ngFor="let page of pages" [routerLink]="[page.id, 'pages']">
      <ion-label text-center>
        <h1>{{ page.name }}</h1>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>