<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/knowledge-room"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="!isLoading">{{ topic.name }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-text text-center>
    <h1>{{ errorMessage }}</h1>
  </ion-text>
  <ion-list *ngIf="!isLoading && !errorMessage">
    <div align="center" *ngFor="let page of pages" [routerLink]="[page.id, 'pages']">
      <ion-item lines="none" button="true" class="ion-padding">
        <ion-label class="ion-padding" class="ion-text-center">
          <h1>{{ page.name }}</h1>
        </ion-label>
      </ion-item>
    </div>
    <!-- <div align="center">
      <img src="assets/img/icon-quiz.png"/>
    </div> -->
  </ion-list>
</ion-content>