<ion-header>
  <ion-toolbar mode="ios" color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" text="ย้อนกลับ" defaultHref="tabs/home/note"></ion-back-button>
    </ion-buttons>
    <ion-title>Title</ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="!isEdit" (click)="confirm()">
        <ion-icon name="trash"></ion-icon>
      </ion-button>
      <ion-button (click)="edit()">
        <ion-icon name="create"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content *ngIf="noteDetail">
  <ion-grid *ngIf="!isEdit">
    <ion-row>
      <ion-col size="10" offset="1">
        <ion-text>
          <p style="white-space: pre-line;">{{noteDetail}}</p>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form *ngIf="isEdit" #f="ngForm">
    <ion-grid>
      <ion-row>
        <ion-col size="10" offset="1">
          <ion-item>
            <ion-textarea rows="14" name="note" [ngModel]="noteDetail" required></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div style="padding-top: 14px;" text-center>
      <ion-button [disabled]="!f.valid" (click)="onUpdateNote()">บันทึก</ion-button>
    </div>
  </form>
</ion-content>