<ion-header>
  <ion-toolbar mode="ios" color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" text="ย้อนกลับ"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h3>
        <img class="title-image" [src]="course.imgData" />
        {{ course.name }}
      </h3>
    </ion-title>
    <ion-buttons slot="primary">
      <ion-button *ngIf="favourite" class="no-ripple" (click)="setFavourite(0)">
        <ion-icon name="star"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!favourite" class="no-ripple" (click)="setFavourite(1)">
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
      </div>
    </div>
  </div>

  <ion-text text-center>
    <h1 *ngIf="!isLoading && errorMessage && !topics">{{ errorMessage }}</h1>
  </ion-text>

  <ion-list *ngIf="!isLoading && topics">
    <ion-button margin expand="block" shape="round" *ngFor="let topic of topics"
      [routerLink]="[topic.id, 'activities']" class="ion-text-wrap">
      <h4>{{ topic.name }}</h4>
    </ion-button>
  </ion-list>
</ion-content>