ion-button {
  --background: var(--ion-color-success);
  --color: black;
  --background-hover: var(--ion-color-warning);
  --background-activated: var(--ion-color-warning);
  height: 80px;
}

ion-content {
  --ion-background-color: var(--ion-color-secondary);
}

ion-toolbar {
  --min-height: 120px;
}

.no-ripple {
  --ripple-color: transparent;
  --background: transparent;
  --background-activated: transparent;
  --background-focused: transparent;
  --background-hover: transparent;
}

.title-image {
  vertical-align: middle;
  height: 50px;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1px;
}
