<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>
    <ion-item color="medium">
        <ion-thumbnail class="banner" slot="start">
          <img [src]="course.img" />
        </ion-thumbnail>
        <ion-label>
          <h1>{{ course.name }}</h1>
        </ion-label>
      </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-text text-center *ngIf="!isLoading && errorMessage">
    <h1>{{ errorMessage }}</h1>
  </ion-text>
  <ion-grid class="topics" *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-button *ngFor="let topic of topics" margin size="large" expand="full" shape="round"
          [routerLink]="[topic.id, 'activities']">
          {{ topic.name }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>