<ion-header>
  <ion-toolbar mode="ios" color="medium">
    <ion-buttons slot="start">
      <ion-back-button [defaultHref]="prevUrl"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1>
        <img class="title-image" [src]="course.imgData" />
        {{ course.name }}
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div> -->
  <ion-text text-center *ngIf="!isLoading && errorMessage">
    <h1>{{ errorMessage }}</h1>
  </ion-text>
  <ion-list>
    <ion-button margin expand="block" shape="round" *ngFor="let topic of topics"
      [routerLink]="[topic.id, 'activities']">
      <h4>{{ topic.name }}</h4>
    </ion-button>
  </ion-list>
</ion-content>