ion-tab-bar {
  --background: var(--ion-color-primary);
  --color: var(--ion-color-light);
}

ion-tab-button {
  --background-focused: var(--ion-color-danger);
  --color-selected: var(--ion-color-danger);
}

.font_tab_mobile {
  font-size: 10px;
}