<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon id="tab_tablet" src="assets/tabs/home.svg" size="large"></ion-icon>
      <ion-icon id="tab_moblie" src="assets/tabs/home.svg" size="miduim"></ion-icon>
      <ion-label class="font_tab">Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qa">
      <ion-icon id="tab_tablet" src="assets/tabs/qa.svg" size="large"></ion-icon>
      <ion-icon id="tab_moblie" src="assets/tabs/qa.svg" size="miduim"></ion-icon>
      <ion-label class="font_tab">Q&A</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="knowledge-room">
      <ion-icon id="tab_tablet" src="assets/tabs/knowledge.svg" size="large"></ion-icon>
      <ion-icon id="tab_moblie" src="assets/tabs/knowledge.svg" size="miduim"></ion-icon>
      <ion-label class="font_tab">knowledge Room</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calculators">
      <ion-icon id="tab_tablet" src="assets/tabs/calculator.svg" size="large"></ion-icon>
      <ion-icon id="tab_moblie" src="assets/tabs/calculator.svg" size="miduim"></ion-icon>
      <ion-label class="font_tab">Calculator</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-icon id="tab_tablet" src="assets/tabs/news.svg" size="large"></ion-icon>
      <ion-icon id="tab_moblie" src="assets/tabs/news.svg" size="miduim"></ion-icon>
      <ion-label class="font_tab">News Update</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
  <!-- <ion-tab-bar slot="bottom" id="tab_moblie">
    <ion-tab-button tab="home">
      <ion-icon src="assets/tabs/home.svg" size="miduim"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qa">
      <ion-icon src="assets/tabs/qa.svg" size="miduim"></ion-icon>
      <ion-label>Q&A</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="knowledge-room">
      <ion-icon src="assets/tabs/knowledge.svg" size="miduim"></ion-icon>
      <ion-label>knowledge Room</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calculators">
      <ion-icon src="assets/tabs/calculator.svg" size="miduim"></ion-icon>
      <ion-label>Calculator</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-icon src="assets/tabs/news.svg" size="miduim"></ion-icon>
      <ion-label>News Update</ion-label>
    </ion-tab-button>
  </ion-tab-bar> -->
</ion-tabs>