<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/tabs/home.svg" size="large"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qa">
      <ion-icon src="assets/tabs/qa.svg" size="large"></ion-icon>
      <ion-label>Q&A</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="knowledge-room">
      <ion-icon src="assets/tabs/knowledge.svg" size="large"></ion-icon>
      <ion-label>knowledge Room</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calculators">
      <ion-icon src="assets/tabs/calculator.svg" size="large"></ion-icon>
      <ion-label>Calculator</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <ion-icon src="assets/tabs/news.svg" size="large"></ion-icon>
      <ion-label>News Update</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>