<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <!-- <ion-icon name="home"></ion-icon> -->
      <ion-thumbnail>
        <img src="assets/tabs/home.png"/>
      </ion-thumbnail>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="qa">
      <!-- <ion-icon name="help"></ion-icon> -->
      <ion-thumbnail>
        <img src="assets/tabs/qa.png"/>
      </ion-thumbnail>
      <ion-label>Q&A</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="knowledge-room">
      <!-- <ion-icon name="book"></ion-icon> -->
      <ion-thumbnail>
        <ion-img no-padding src="assets/tabs/knowledge.png"></ion-img>
      </ion-thumbnail>
      <ion-label>knowledge Room</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="calculator">
      <!-- <ion-icon name="calculator"></ion-icon> -->
      <ion-thumbnail>
        <ion-img src="assets/tabs/calculator.png"></ion-img>
      </ion-thumbnail>
      <ion-label>Calculator</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="news">
      <!-- <ion-icon name="blog"></ion-icon> -->
      <ion-thumbnail>
        <ion-img src="assets/tabs/news.png"></ion-img>
      </ion-thumbnail>
      <ion-label>News Update</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>