<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" text="ย้อนกลับ" defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>พยากรณ์อากาศ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="!weathers" class="centerPage"></ion-spinner>

  <ion-grid *ngIf="weathers">
    <ion-row>
      <ion-col size="3"> </ion-col>
      <ion-col size="6">
        <ion-text text-center>
          <!-- <h1 style="color: #0D708D;">{{weathers[0].city}}</h1> -->
          <div class="nowWeatherImg">
            <img *ngIf="weathers[0].description==='Rain'" src="../assets/icon/rain.svg" />
            <img *ngIf="weathers[0].description==='Clouds'" src="../assets/icon/cloudy.svg" />
            <img *ngIf="weathers[0].description==='Clear'" src="../assets/icon/sun.svg" />
            <img *ngIf="weathers[0].description==='Snow'" src="../assets/icon/snow.png" />
            <img *ngIf="weathers[0].description==='Wind'" src="../assets/icon/wind.svg" />
          </div>
          <h3 style="color: #0D708D; margin-left: 8%; font-size: 65px;">{{weathers[0].temperature | number:'1.0-1'}}°
          </h3>
        </ion-text>
      </ion-col>
      <ion-col size="3"> </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid *ngFor="let weather of weathers">
    <ion-row style="border: 2px solid gray; border-radius: 10px;">
      <!-- {{weather|json}} -->
      <ion-col size="2" offset="1">
        <div class="verticalCenter" text-center>
          <h6>{{weather.date | date:'d MMM'}} {{weather.date | date:'H:mm'}}</h6>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="middle" text-center>
          <ion-icon *ngIf="weather.description==='Rain'" src="../assets/icon/rain.svg" size="large"></ion-icon>
          <ion-icon *ngIf="weather.description==='Clouds'" src="../assets/icon/cloudy.svg" size="large"></ion-icon>
          <ion-icon *ngIf="weather.description==='Clear'" src="../assets/icon/sun.svg" size="large"></ion-icon>
          <ion-icon *ngIf="weather.description==='Snow'" src="../assets/icon/snow.png" size="large"></ion-icon>
          <ion-icon *ngIf="weather.description==='Wind'" src="../assets/icon/wind.svg" size="large"></ion-icon>
        </div>
      </ion-col>
      <ion-col size="2" offset="1">
        <h6 class="verticalCenter">{{weather.temperature | number:'1.0-1'}}°</h6>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>