<ion-header>
  <ion-toolbar>
    <ion-title>Sugarcane Quantity View</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
        <ion-label stacked>พื้นที่ (ไร่)</ion-label>
        <ion-input required type="number" [(ngModel)]="area"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>จำนวนลำอ้อยต่อความยาว 1 เมตร </ion-label>
        <ion-input required type="number" [(ngModel)]="caneBlock"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>ระยะร่อง (เมตร)</ion-label>
        <ion-input required type="number" [(ngModel)]="gap"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label stacked>ความกว้าง (เมตร)</ion-label>
        <ion-input required type="number" [(ngModel)]="areaWidth"></ion-input>
    </ion-item>
</ion-list>

<div padding>
    <button ion-button color="primary" block (click)="calculateTotalWeight()">คำนวณ</button>
</div>
<div *ngIf="showResult">
    <ion-item>
        <ion-label id="result" stacked>น้ำหนักอ้อยทั้งพื้นที่ {{ totalWeightAll.toFixed(0)| number : fractionSize }} (ตัน)</ion-label>
    </ion-item>
    <ion-item>
        <ion-label id="result" stacked>ผลผลิตอ้อย ต่อ ไร่ {{ totalOutput.toFixed(0)| number : fractionSize }} (ตันต่อไร่)</ion-label>
    </ion-item>
</div>
</ion-content>
