<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{ currentCourse.name}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" *ngIf="!currentCourse.topics">
    <h1>Coming soon!</h1>
  </ion-text>
  <ion-list class="ion-margin-top">
    <div *ngFor="let topic of currentCourse.topics">
      <ion-button class="ion-margin" size="large" expand="block" shape="round" [routerLink]="['/topic/', topic.id]">
        {{ topic.name }}
      </ion-button>
    </div>
  </ion-list>
</ion-content>