// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  --ion-color-primary: #0D708D;
  --ion-color-primary-rgb: 13,112,141;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255,255,255;
  --ion-color-primary-shade: #0b637c;
  --ion-color-primary-tint: #257e98;

  --ion-color-secondary: #80B4C3;
  --ion-color-secondary-rgb: 128,180,195;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #719eac;
  --ion-color-secondary-tint: #8dbcc9;

  --ion-color-tertiary: #0F4532;
  --ion-color-tertiary-rgb: 15,69,50;
  --ion-color-tertiary-contrast: #f3e1e1;
  --ion-color-tertiary-contrast-rgb: 255,255,255;
  --ion-color-tertiary-shade: #0d3d2c;
  --ion-color-tertiary-tint: #275847;

  --ion-color-success: #F5F5F5;
  --ion-color-success-rgb: 245,245,245;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #d8d8d8;
  --ion-color-success-tint: #f6f6f6;

  --ion-color-warning: #FFAE10;
  --ion-color-warning-rgb: 255,174,16;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0990e;
  --ion-color-warning-tint: #ffb628;

  --ion-color-danger: #ED5015;
  --ion-color-danger-rgb: 237,80,21;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #d14612;
  --ion-color-danger-tint: #ef622c;

  --ion-color-dark: #0C2651;
  --ion-color-dark-rgb: 12,38,81;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255,255,255;
  --ion-color-dark-shade: #0b2147;
  --ion-color-dark-tint: #243c62;

  --ion-color-medium: #E2DBD2;
  --ion-color-medium-rgb: 226,219,210;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #c7c1b9;
  --ion-color-medium-tint: #e5dfd7;

  --ion-color-light: #FFFFFF;
  --ion-color-light-rgb: 255,255,255;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #e0e0e0;
  --ion-color-light-tint: #ffffff;

  --ion-color-black: #020202;
  --ion-color-black-rgb: 2,2,2;
  --ion-color-black-contrast: #ffffff;
  --ion-color-black-contrast-rgb: 255,255,255;
  --ion-color-black-shade: #020202;
  --ion-color-black-tint: #1b1b1b;

  --ion-font-family: "Kanit", "Work Sans";
}

.ion-color-black {
  --ion-color-base: var(--ion-color-black);
  --ion-color-base-rgb: var(--ion-color-black-rgb);
  --ion-color-contrast: var(--ion-color-black-contrast);
  --ion-color-contrast-rgb: var(--ion-color-black-contrast-rgb);
  --ion-color-shade: var(--ion-color-black-shade);
  --ion-color-tint: var(--ion-color-black-tint);
}