.title {
    background-color: var(--ion-color-primary);
}

.title-en {
    margin-bottom: 0px;
}

.title-th {
    margin-top: 0px;
}

ion-content{
    --ion-background-color: var(--ion-color-tertiary);
}
.mfa-input-number{
    border-width: 0px;
    border-radius: 20px; 
    padding: 12px 0px; 
    text-align: center;
    margin: 6px 5px 8px 5px; 
    background-color: #FFFFFF;
    //background-color:var(--ion-color-medium);
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -webkit-appearance: none; 
    -moz-appearance:textfield;
    color: var(--ion-color-dark);
    font-weight: bold;
    font-size: 1em;
    width: 95%;
    -moz-appearance: textfield;
    -webkit-appearance: none;
}

p.result-border{
    border-width: 0px;
    border-radius: 20px; 
    padding: 12px 0px; 
    text-align: center;
    margin: 6px 5px 8px 5px; 
    background-color: lightgrey;
    font-weight: bold;
    font-size: 1em;
    width: 95%;
    
}