<ion-header>
  <ion-toolbar color="tertiary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>การประเมินปริมาณอ้อย</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="title">
    <ion-text color="light" class="ion-text-center">
      <h3 class="title-en">Assessment of Sugarcane Quantity</h3>
      <h1 class="title-th">การประเมินปริมาณอ้อย</h1>
    </ion-text>
  </div>
  <!-- Input -->
  <ion-grid class="ion-margin-top">
    <ion-row *ngFor="let input of inputs">
      <ion-col size="1"></ion-col>
      <ion-col size="4">
        <ion-text color="light" class="ion-float-right">
          <h4>{{ input.name }}</h4>
        </ion-text>
      </ion-col>
      <ion-col size="4">
        <ion-button shape="round" color="medium" class="ion-float-right">
          <ion-input [(ngModel)]="input.value" required type="number"></ion-input>
        </ion-button>
      </ion-col>
      <ion-col size="2">
        <ion-text color="light">
          <h4> {{ input.unit }}</h4>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div padding align="center">
    <ion-button color="primary" shape="round" size="large" (click)="calculateTotalWeight()">คำนวณ</ion-button>
  </div>

  <!-- Output -->
  <div *ngIf="showResult">
    <ion-grid class="ion-margin-top">
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="4">
          <ion-text color="light" class="ion-float-right">
            <h4>น้ำหนักอ้อยทั้งพื้นที่</h4>
          </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-button shape="round" color="medium">
            <ion-input>{{ totalWeightAll.toFixed(0)| number : fractionSize }}</ion-input>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-text color="light">
            <h4>ตัน</h4>
          </ion-text>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="1"></ion-col>
        <ion-col size="4">
          <ion-text color="light" class="ion-float-right">
            <h4>ผลผลิตอ้อย ต่อ ไร่</h4>
          </ion-text>
        </ion-col>
        <ion-col size="4">
          <ion-button shape="round" color="medium">
            <ion-input class="ion-text-center">{{ totalOutput.toFixed(0)| number : fractionSize }}</ion-input>
          </ion-button>
        </ion-col>
        <ion-col size="2">
          <ion-text color="light">
            <h4>ตัน/ไร่</h4>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>