.title {
    background-color: var(--ion-color-primary);
}

.title-en {
    margin-bottom: 0px;
}

.title-th {
    margin-top: 0px;
}

ion-content{
    --ion-background-color: var(--ion-color-tertiary);
}