<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NEWS UPDATES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
      </div>
    </div>
  </div>

  <ion-text *ngIf="errorMessage && !isLoading && !newsArticles">
    <h1>{{ errorMessage }}</h1>
  </ion-text>
  <ion-grid *ngIf="!isLoading && newsArticles">
    <ion-row *ngFor="let article of newsArticles">
      <ion-col>
        <ion-card [routerLink]="article.id">
          <div align="center">
            <img *ngIf="article.imgUrl" class="card-img" [src]="article.imgData" />
          </div>
          <ion-card-header>
            <ion-card-title>{{ article.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>