<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>NEWS UPDATES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-grid *ngIf=!isLoading>
    <ion-row *ngFor="let article of newsArticles">
      <ion-col size="10" offset="1">
        <ion-card [routerLink]="article.id">
          <img *ngIf="article.imgUrl" [src]="article.imgData" />
          <ion-card-header>
            <ion-card-title>{{ article.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>