<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>currentTopic.name</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let subTopic of currentTopic.subTopics">
        <ion-item *ngIf="!subTopic.img; else elseBlock">
            <img>
            <ion-label [routerLink]="['/subTopic/', subTopic.id]">{{ subTopic.name }}</ion-label>
        </ion-item>
        <ng-template #elseBlock>
            <img #showImage src="{{ subTopic.img }}" [routerLink]="['/subTopic/', subTopic.id]"/>
        </ng-template>
    </div>
  </ion-list>
</ion-content>
