<ion-header>
  <ion-toolbar color="dark">
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <!--<ion-back-button icon="ios-arrow-back" [defaultHref]="้home"></ion-back-button>-->
    <ion-title>Q&A details</ion-title>
  </ion-toolbar>
  <ion-title class="questionHead" color="dark" *ngIf="qaHeadDetail">
    <ion-item color="dark">
      <ion-label>
        <h1 style="white-space: pre-line;">{{qaHeadDetail.subject}}</h1><br>
        <h2 style="white-space: pre-line;" [innerHTML]="qaHeadDetail.message"></h2>
        <p>{{qaHeadDetail.username}}</p>
      </ion-label>
    </ion-item>
  </ion-title>
</ion-header>
<ion-content>
  <!-- {{qaDetail|json}} -->
  <div *ngIf="haveComment === true">
    <ion-list class="list" *ngIf="qaDetail">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div *ngFor="let item of qaDetail; let i = index">
              <ion-item>
                <ion-label>
                  <p><b>ความคิดเห็นที่ {{i + 1}}</b></p><br>
                  <h2>{{item.subject}}</h2>
                  <h2 style="white-space: pre-line; color: black; font-size: 20px;" [innerHTML]="item.message"></h2>
                  <p></p>
                  <p>{{ item.username }} : {{ item.date | date: 'd/M/yy, h:mm a' }}</p>
                  <!-- <p>reply message</p> -->
                </ion-label>
              </ion-item>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-list>
  </div>
  <ion-grid id="comment">
    <ion-row>
      <ion-col>
        <ion-label>ตอบกลับ</ion-label>
        <form #discussionForm="ngForm"
          (ngSubmit)="postComment(discussionForm, qaHeadDetail.id, qaHeadDetail.subject, discussionForm)">
          <ion-item class="itemCss">
            <ion-textarea placeholder="แสดงความคิดเห็น" name="message" [ngModel]></ion-textarea>
          </ion-item>
          <div style="text-align: center; margin-top: 15px;">
            <ion-button size="medium" color="primary" style="text-align: center" type="submit">ส่งความคิดเห็นของคุณ
            </ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>