<ion-header>
  <div>
    <ion-toolbar color="tertiary">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!isLoading">{{ page.name }}</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-slides pager *ngIf="!isLoading">
    <ion-slide text-start *ngFor="let content of slideContents">
      <ion-grid>
        <ion-row>
          <ion-col>
            <div [innerHTML]="content"></div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-slide>
  </ion-slides>
</ion-content>