<ion-header>
  <div>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title *ngIf="!isLoading">{{ currentPage.name }}</ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <ion-slides pager *ngIf="!isLoading">
    <ion-slide *ngFor="let content of slideContents">
      <div text-start [innerHTML]="content"></div>
    </ion-slide>
  </ion-slides>
</ion-content>