<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title *ngIf="user">
      <ion-row justify-content-center>
        <p>{{user.username}}</p>
        <a routerLink="/auth/profile">
          <ion-avatar *ngIf="user" padding>
            <img [src]="user.imgData"/>
          </ion-avatar>
        </a>
      </ion-row>
    </ion-title>
    <!-- <ion-title>Modern Farm Academy</ion-title> -->
    <ion-buttons slot="primary" (click)="presentPopover($event)">
    <!-- <ion-buttons slot="primary"> -->
      <ion-badge *ngIf="numberBadge !== null" color="danger" clear>{{numberBadge}}</ion-badge>
      <ion-icon name="notifications-outline" size="large"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
  <ion-segment>
    <ion-segment-button layout="icon-start" [routerLink]="['favorite']">
    <!-- <ion-segment-button layout="icon-start"> -->
      <ion-label color="light" class="font_segment">Favorite</ion-label>
      <ion-icon src="assets/home/favorite.svg"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" [routerLink]="['note']">
    <!-- <ion-segment-button layout="icon-start"> -->
      <ion-label color="light" class="font_segment">Note</ion-label>
      <ion-icon src="assets/home/note.svg"></ion-icon>
    </ion-segment-button>
    <ion-segment-button layout="icon-start" [routerLink]="['qr-code']">
    <!-- <ion-segment-button layout="icon-start"> -->
      <ion-label color="light" class="font_segment">QR Code</ion-label>
      <ion-icon src="assets/home/qr.svg"></ion-icon>
    </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content>
  <ion-text text-center *ngIf="!isLoading && errorMessage && !newsArticles">
    <h1 >{{ errorMessage }}</h1>
  </ion-text>
  
  <ion-spinner *ngIf="isLoading && !newsArticles" class="centerPage"></ion-spinner>
  <ion-grid fixed="true" *ngIf="newsArticles">
    <ion-row>
      <ion-col margin-start>
        <ion-text>
          <h1>NEWS UPDATES</h1>
        </ion-text>
      </ion-col>
      <ion-col class="see-more" margin-end text-end>
        <a routerLink="/tabs/news">
          <ion-text color="medium">ดูเพิ่มเติม</ion-text>
        </a>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-slides pager>
        <ion-slide *ngFor="let article of newsArticles">
          <ion-card class="news-card" [routerLink]="['news', article.id]">
            <div align="center" [innerHTML]="article.description">
              <!-- <img *ngIf="article.imgUrl" class="card-img" [src]="article.imgData" /> -->
            </div>
            <ion-card-header>
              <ion-card-title>{{ article.name }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <ion-col margin-start>
        <ion-text>
          <h1>DIRECTORY</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card class="directory-card" button="true" routerLink="/tabs/knowledge-room">
          <img src="assets/home/knowledge.png" />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="directory-card" button="true" routerLink="/tabs/calculators">
          <img src="assets/home/calculator.png" />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="directory-card" button="true" routerLink="sugar-price">
          <img src="assets/home/sugar.png" />
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card class="directory-card" button="true" routerLink="weather">
          <img src="assets/home/weather.png" />
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>