ion-segment {
  background-color: var(--ion-color-black);
  opacity: 0.23;
  min-height: 40px;
}

.see-more {
  margin-top: 25px;
}

a {
  text-decoration: none;
}

.card-img {
  height: auto;
  max-width: 560px;
  width: 100%;
}

.directory-card {
  box-shadow: none;
}

.outer {
  display: table;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  margin-left: auto;
  margin-right: auto;
  width: 1px;
}

ion-badge {
  position: absolute;
  top: 15px;
  left: -4px;
  z-index: 2;
  padding: 5px !important;
  border-radius: 100%;
  pointer-events: none;
}