<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Modern Farm Academy
    </ion-title>
    <ion-buttons slot="primary">
      <ion-avatar padding routerLink="/auth/profile">
        <ion-img *ngIf="user" [src]="user.imgData"></ion-img>
      </ion-avatar>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-grid no-padding *ngIf="!isLoading">
    <ion-row>
      <ion-col no-padding>
        <ion-button size="large" color="black" no-margin expand="full">
          <ion-thumbnail slot="start">
            <img src="assets/home/favorite.png" />
          </ion-thumbnail>
          FAVORITE
        </ion-button>
      </ion-col>
      <ion-col no-padding>
        <ion-button size="large" no-margin color="black" expand="full">
          <ion-thumbnail slot="start">
            <img src="assets/home/note.png" />
          </ion-thumbnail>
          NOTE
        </ion-button>
      </ion-col>
      <ion-col no-padding>
        <ion-button size="large" no-margin color="black" expand="full">
          <ion-thumbnail slot="start">
            <img src="assets/home/qr.png" />
          </ion-thumbnail>
          QR CODE
        </ion-button>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="newsArticles">
      <ion-col margin-start>
        <ion-text>
          <h1>NEWS UPDATES</h1>
        </ion-text>
      </ion-col>
      <ion-col class="see-more" margin-end text-end routerLink="/tabs/news">
        <ion-text color="medium">
          <p>SEE MORE</p>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="newsArticles">
      <ion-slides pager>
        <ion-slide *ngFor="let article of newsArticles">
          <ion-card class="card" [routerLink]="['/tabs/news/', article.id]">
            <img *ngIf="article.imgUrl" class="card-img" [src]="article.imgData" />
            <ion-card-content>
              <p>{{ article.name }}</p>
            </ion-card-content>
          </ion-card>
        </ion-slide>
      </ion-slides>
    </ion-row>
    <ion-row>
      <ion-col margin-start>
        <ion-text>
          <h1>DIRECTORY</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <div align="center">
          <img src="assets/home/knowledge.png" routerLink="/tabs/knowledge-room" />
        </div>
      </ion-col>
      <ion-col>
        <div align="center">
          <img src="assets/home/calculator.png" routerLink="/tabs/calculators" />
        </div>
      </ion-col>
      <ion-col>
        <div align="center">
          <img src="assets/home/sugar.png" routerLink="/sugar-price" />
        </div>
      </ion-col>
      <ion-col>
        <div align="center">
          <img src="assets/home/weather.png" routerLink="/weather" />
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>