<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Knowledge Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="isLoading && !categories"></ion-spinner>
  </div>
  <ion-text text-center *ngIf="!isLoading && errorMessage">
    <h1>{{ errorMessage }}</h1>
  </ion-text>
  <ion-grid fixed="true" *ngIf="!errorMessage && categories && user">
    <ion-row>
      <ion-col text-center>
          <div align="center">
              <ion-card button="true" routerLink="/auth/profile">
                <ion-avatar>
                  <img [src]="user.imgUrl" />
                </ion-avatar>
                <ion-card-header>
                  <ion-card-title>{{ user.firstName }} {{user.lastName }}</ion-card-title>
                </ion-card-header>
              </ion-card>
            </div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" *ngFor="let category of categories">
        <div align="center">
          <ion-card button="true" [routerLink]="[category.id, 'courses']">
            <img [src]="category.imgData" />
            <ion-card-header>
              <ion-card-title>{{ category.name }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>