<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Knowledge Room</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col size="4" offset="4">
        <ion-avatar>
          <ion-img [src]="user.imgUrl" routerLink="/auth/profile"></ion-img>
        </ion-avatar>
        <ion-text class="ion-text-center">
          <h3>{{ user.firstName }} {{user.lastName }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="errorMessage">
      <ion-col>
        <ion-text text-center>
          <h1>{{ errorMessage }}</h1>
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col text-center size="6" *ngFor="let category of categories" [routerLink]="[category.id, 'courses']">
        <img [src]="category.imgData" />
        <ion-text>
          <h3>{{ category.name }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>