<ion-header>
  <ion-toolbar mode="ios" color="medium">
    <ion-buttons slot="start">
      <ion-back-button
        icon="ios-arrow-back"
        text="ย้อนกลับ"
        defaultHref=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title>Note</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="data">
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let item of data" [routerLink]="[item.id]">
          <ion-label>
            <h2>{{item.content | cutTitle}}</h2>
            <h3 style="float: right">{{item.lastmodified * 1000 | date: 'd/M/yy, h:mm a'}}</h3>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['new-note']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
