<ion-header>
  <ion-toolbar mode="ios" color="medium">
    <ion-buttons slot="start">
      <ion-back-button icon="ios-arrow-back" text="ย้อนกลับ" defaultHref="/tabs/knowledge-room"></ion-back-button>
    </ion-buttons>
    <ion-title>
      <h1>
        <img class="title-image" [src]="category.imgData" />
        {{ category.name }}
      </h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="outer">
    <div class="middle">
      <div class="inner">
        <ion-spinner *ngIf="isLoading"></ion-spinner>
      </div>
    </div>
  </div>

  <ion-text text-center>
    <h1 *ngIf="!isLoading && errorMessage && !courses">{{ errorMessage }}</h1>
  </ion-text>
  
  <ion-grid fixed="true" *ngIf="!isLoading && courses">
    <ion-row>
      <ion-col text-center size="4" *ngFor="let course of courses">
        <ion-card button="true" [routerLink]="[course.id, 'topics']">
          <img [src]="course.imgData" />
          <ion-card-header>
            <ion-card-title>{{ course.name }}</ion-card-title>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>