<ion-header *ngIf="!isLoading">
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/knowledge-room"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="7" offset="2">
          <ion-img [src]="category.img"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col text-center size="4" *ngFor="let course of courses" (click)="onClick(course)">
        <ion-img [src]="course.img"></ion-img>
        <ion-text><h2>{{ course.name }}</h2></ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>