.banner {
    margin-left: 100px;
}

ion-thumbnail {
    height: 100px;
    width: 100px;
}

ion-item {
    --min-height: 100px;
}

h3 {
    margin-top: 0px;
    margin-bottom: 20px;
  }
  
a {
    text-decoration: none;
}