<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/knowledge-room"></ion-back-button>
    </ion-buttons>
    <ion-item color="medium">
      <ion-thumbnail class="banner">
        <img [src]="category.imgData" />
      </ion-thumbnail>
      <ion-label>
        <h1>{{ category.name }}</h1>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center *ngIf="isLoading">
    <ion-spinner></ion-spinner>
  </div>
  <div text-center *ngIf="!isLoading && errorMessage">
    <ion-text>
      <h1>{{ errorMessage }}</h1>
    </ion-text>
  </div>
  <ion-grid *ngIf="!isLoading && !errorMessage">
    <ion-row>
      <ion-col text-center size="4" *ngFor="let course of courses" [routerLink]="[course.id, 'topics']">
        <img [src]="course.imgData" />
        <ion-text>
          <h3>{{ course.name }}</h3>
        </ion-text>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>