<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="7" offset="2">
          <ion-img src="assets/img/modern-farm-banner.png"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div text-center>
    <ion-spinner *ngIf="isLoading"></ion-spinner>
  </div>
  <ion-grid class="topics" *ngIf="!isLoading">
    <ion-row>
      <ion-col>
        <ion-button *ngFor="let topic of topics" margin size="large" expand="full" shape="round"
          [routerLink]="[topic.id, 'activities']">
          {{ topic.name }}
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>