<ion-header>
  <ion-toolbar color="medium">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/courses"></ion-back-button>
    </ion-buttons>
    <ion-grid>
      <ion-row>
        <ion-col size="7" offset="2">
          <ion-img [src]="currentCourse.img"></ion-img>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-text class="ion-text-center" *ngIf="!currentCourse.topics">
    <h1>Coming soon!</h1>
  </ion-text>
  <ion-grid class="topics" *ngIf="currentCourse.topics">
    <ion-row>
      <ion-col>
        <ion-list>
          <div *ngFor="let topic of currentCourse.topics">
            <ion-button class="ion-margin" size="large" expand="block" shape="round" [routerLink]="[topic.id, 'activities']">
              {{ topic.name }}
            </ion-button>
          </div>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>